{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ user.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ user.apellidos }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{{ user.activo ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>FechaAlta</th>
                <td>{{ user.fechaAlta ? user.fechaAlta|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FechaUpdate</th>
                <td>{{ user.fechaUpdate ? user.fechaUpdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Telef</th>
                <td>{{ user.telef }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ user.descripcion }}</td>
            </tr>
            <tr>
                <th>Ocupacion</th>
                <td>{{ user.ocupacion }}</td>
            </tr>
            <tr>
                <th>Usertype</th>
                <td>{{ user.usertype }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">back to list</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
